<div class="wrapper">
  <div class="wrapper__arcade">
  
    <img class="picture" [src]="arcadePicture" alt="arcade">
    <button class="joystic-button" (click)="startGame()"></button>
    <button class="coin-button" (click)="addCoin()"></button>

    <div class="wrapper__arcade__screen">
      <div *ngIf="coins > 0; else insertCoinBlock" class="user-section">
        <img *ngIf="!selectedPicture; else selectedPlayerBlock" class="random-user" [src]="randomPicture" />
        <ng-template #selectedPlayerBlock>
          <img class="random-user" [src]="selectedPicture">
        </ng-template>
      </div>
      <ng-template #insertCoinBlock>
        <div class="insert-coin">
          <div class="game-over">GAME OVER</div>
          <div class="coin">Insert coin</div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="wrapper-screen">
    <div class="screen">
      <div *ngIf="coins > 0; else welcomeBlock">
        <div class="select-title">> Select player here</div>
        <div 
          *ngFor="let player of allPlayers; let i = index" 
          class="player-name" 
          [ngClass]="{ 'player-game-over': player.isOut, 'player-off': !player.isAvailable }"
          (click)="switchPlayer(i)"
        >
          {{ player.name }}
        </div>
      </div>
      <ng-template #welcomeBlock>
          <div>> Welcome to Daily Turn, please insert coin to play.</div>
      </ng-template>
    </div>
  </div>
</div>